export ALTASTORE_APP_PORT=8000
export ALTASTORE_APP_ENVIRONMENT=dev

export ALTASTORE_DB_DRIVER=mysql
export ALTASTORE_DB_ADDRESS=127.0.0.1
export ALTASTORE_DB_PORT=3306
export ALTASTORE_DB_USERNAME=yourdbusername
export ALTASTORE_DB_PASSWORD=yourdbpassword
export ALTASTORE_DB_NAME=db_name

export ALTASTORE_JWT_SECRET=secret